body{
	font-family: 'Ledger', serif;
}

.transbox {
  margin-top: 50px;
  padding: 50px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.top{
margin-top: 60px;
margin-bottom: 60px;

}

.top1{
margin-top: 360px;

}



h3{
	color: #ccc;
}


.dropdown-menu  li>a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu li>a:hover {background-color: #ccc;}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover {
    background-color: #111;
}